Source: uservcoin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@uservcoin.site>
Uploaders: Holger Schinzel <holger@uservcoin.site>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.uservcoin.site/
Vcs-Git: git://github.com/uservapp/uservcoin.git
Vcs-Browser: https://github.com/uservapp/uservcoin

Package: uservcoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 UservCoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. UservCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. UservCoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, uservcoind, and the CLI tool
 uservcoin-cli to interact with the daemon.

Package: uservcoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 UservCoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. UservCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. UservCoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides UservCoin-Qt, a GUI for UservCoin based on Qt.

Package: uservcoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 UservCoin is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. UservCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. UservCoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides uservcoin-tx, a command-line transaction creation
 tool which can be used without a uservcoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
