[Desktop Entry]
Encoding=UTF-8
Name=UserV
Comment=UserV P2P Cryptocurrency
Exec=userv-qt %u
Terminal=false
Type=Application
Icon=userv128
MimeType=x-scheme-handler/userv;
Categories=Office;Finance;
Name[en_US]=userv-qt.desktop
