[Unit]
Description=UservCoin's distributed currency daemon
After=network.target

[Service]
User=uservcoin
Group=uservcoin

Type=forking
PIDFile=/var/lib/uservcoind/uservcoind.pid

ExecStart=/usr/bin/uservcoind -daemon -pid=/var/lib/uservcoind/uservcoind.pid \
          -conf=/etc/uservcoin/uservcoin.conf -datadir=/var/lib/uservcoind

ExecStop=-/usr/bin/uservcoin-cli -conf=/etc/uservcoin/uservcoin.conf \
         -datadir=/var/lib/uservcoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
