[Unit]
Description=UserV's distributed currency daemon
After=network.target

[Service]
User=userv
Group=userv

Type=forking
PIDFile=/var/lib/uservd/uservd.pid

ExecStart=/usr/bin/uservd -daemon -pid=/var/lib/uservd/uservd.pid \
          -conf=/etc/userv/userv.conf -datadir=/var/lib/uservd

ExecStop=-/usr/bin/userv-cli -conf=/etc/userv/userv.conf \
         -datadir=/var/lib/uservd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
